# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

.idea

# used for generating documentation during development
doc.txt
examples/client_test/client_test
examples/client_test/client.log*
stompd/stompd
stompd/logs/*


#deb-package
stompd/Makefile
stompd/autom4te.cache/
stompd/backup-080120161814-pre-go-stomp-server.tgz
stompd/config.status
stompd/configure
stompd/go-stomp-server_0.6-1_amd64.deb
stompd/make-dev.sh

