{
	"Global": {
		"ListenAddr": ":61614"
	},
	"AuthData": [
  {
			"Login": "client1",
			"Passcode": "111"
		},
    {
      "Login": "client2",
      "Passcode": "222"
    }
  ],
	"Logs": {
		"Filenames": {
			"ERROR": "errors.log",
			"INFO": "info.log",
			"DEBUG": "debug.log"
		},
		"StderrLvl":"INFO",
		"Logpath": "logs/"
	}
}
