{
  "Global": {
    "ListenAddr": "localhost:61614",
    "Id": "go-stomp-server-deploy",
    "Name": "GoStompServerDeploy",
    "Heartbeat": 30,
    "Status": 15,
    "StatusLog": 300,
    "IsDebug": false
  },
  "AuthData": [
  {
      "Login": "guest",
      "Passcode": "guest"
    }
  ],
  "Logs": {
    "Handlers": [
      {"Type": "stderr", 
       "Level": "INFO"
      },
      {"Type": "file", 
       "Level": "INFO",
       "Filename": "info.log"
      },
      {"Type": "file", 
       "Level": "WARN",
       "Filename": "error.log"
      },
      {"Type": "file", 
       "Level": "DEBUG",
       "Filename": "debug.log"
      }
    ],
    "CallerInfo": false,
    "Logpath": "/var/log/go-stomp-server"
  }
}
