{
  "Global": {
    "ListenAddr": "localhost:61614"
  },
  "AuthData": [
  {
      "Login": "guest",
      "Passcode": "guest"
    }
  ],
  "Logs": {
    "Handlers": [
      {"Type": "stderr", 
       "Level": "INFO"
      },
      {"Type": "file", 
       "Level": "INFO",
       "Filename": "info.log"
      },
      {"Type": "file", 
       "Level": "ERROR",
       "Filename": "error.log"
      },
      {"Type": "file", 
       "Level": "DEBUG",
       "Filename": "debug.log"
      }
    ],
    "CallerInfo": false,
    "Logpath": "/var/log/go-stomp-server"
  }
}
